
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
}

td {
	border: 1px solid #ddd;
	padding: 0.4em;
}

#constellation {
	height: 100%;
	width: 100%;
}

#footer {
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	z-index: 100;
}

#footer .content {
}

/* Remove the arrow from the dropdown box. */
.navbar .nav > li > .dropdown-menu::before, 
.navbar .nav > li > .dropdown-menu::after {
    border: none;
    content: none;
}
