
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
}

td {
	border: 1px solid #ddd;
	padding: 0.4em;
}

#constellation {
	background: black;
	height: 100%;
	width: 100%;
}

#friendList {
	max-height: 400px;
	overflow-y: auto;
}

.filterColor {
	border: 1px solid #ccc;
	border-radius: 3px;
	display: block;
	float: left;
	height: 16px;
	margin-right: 0.6em;
	width: 16px;
}

#footer {
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	z-index: 100;
}

#footer .content {
}

#footer .dropdown-menu {
	max-height: 400px;
	overflow-y: auto;
}

/* Remove the arrow from the dropdown box. */
.navbar .nav > li > .dropdown-menu::before, 
.navbar .nav > li > .dropdown-menu::after {
	border: none;
	content: none;
}

.navbar .nav li.zoomButton {
	margin-top: 8px;
}
