<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
<head>
	<meta charset="utf-8" />

	<title>Constellation Friend Charts</title>

	<!-- FIXME: Fill out the metadata. -->
	<meta content="" property="og:title" />
	<meta content="" property="og:type" />
	<meta content="" property="og:url" />
	<meta content="" property="og:image" />
	<meta content="" property="og:site_name" />
	<meta property="og:description" content="Friend Constellation" />
	<meta content="{{app_id}}" property="fb:app_id" />

	<link type="text/css" href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen" />
	<style type="text/css">@import "/static/css/jquery.svg.css";</style>
	<link type="text/css" href="/static/css/style.css" rel="stylesheet" media="screen" />	
</head>
<body>

	{% block header %}

	{% endblock %}

	<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.mousewheel.js"></script>
	<script type="text/javascript" src="/static/js/jquery.svg.js"></script>

	<script src="/static/js/bootstrap.min.js"></script>
	
	<script type="text/javascript" src="/static/js/constellation.min.js"></script>
	<script type="text/javascript" src="/static/js/custom.constellation.js"></script>
	
	<script type="text/javascript">
		window.fbAsyncInit = function() {
			FB.init({
				appId: '{{ app_id }}',
				status: true, // check login status
				cookie: true, // enable cookies to allow the server to access the session
				xfbml: true // parse XFBML
			});

			// Listen to the auth.login which will be called when the user logs in
			// using the Login button
			FB.Event.subscribe('auth.login', function(response) {
				// We want to reload the page now so the server can read the cookie that the
				// Javascript SDK sat. But we don't want to use
				// window.location.reload() because if this is in a canvas there was a
				// post made to this page and a reload will trigger a message to the
				// user asking if they want to send data again.
				window.location = window.location;
			});

			FB.Canvas.setAutoGrow();
		};

		// Load the SDK Asynchronously
		(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/all.js";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	{% block content %}

	{% endblock %}

</body>
</html>
