{% extends "base.html" %}

{% block content %}

	<div id="fb-root"></div>
	<div id="constellation"></div>
	<script type="text/javascript">
		var config = {
					 id: 'constellation',
					 graphLoaderClass: SimpleGraphLoader,
					 graphLoader: {
									 url: '/chart/{{chart.id}}/data'
					 },
					 graphParserClass: CustomGraphParser,
					 graphViewClass: DirectGraphView,
					 layoutClass: StaticLayout
		};
		var styles = [
					 ['node', {
									 rendererClass: CustomNodeRenderer
					 }],
					 ['edge', {
									 rendererClass: RoamerEdgeRenderer
					 }]
		];
		var constellation = new Constellation(config, styles);
		constellation.init();
	</script>

{% endblock %}
