{% extends "base.html" %}

{% block content %}

	<div id="fb-root"></div>
	
	<div id="nodePopover" class="popover fade top in" style="display:none;position:absolute">
		<div class="arrow"></div>
		<div class="popover-content"></div>
	</div>

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>

				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="dropdown">
							<a id="friendListToggle" class="dropdown-toggle" data-toggle="dropdown" href="#">Jump&nbsp;to&nbsp;<b class="caret"></b></a>
							<ul id="friendList" class="dropdown-menu" role="menu" aria-labeledby="friendListToggle">
							</ul>
						</li>
						<li class="zoomButton"><button id="zoomOutButton">-</button></li>
						<li class="zoomButton"><button id="zoomInButton">+</button></li>
					</ul>

					<ul class="nav pull-right">
						<li class="pull-right"><a href="javascript:FB.logout(function() {window.location='/';});">Logout</a></li>
					</ul>
					<p class="navbar-text pull-right"><strong>{{user.name}}</strong></p>
				</div><!--/.nav-collapse -->
		</div>
	</div>

	<div id="constellation"></div>
	<div id="footer">
		<div class="content">
			<div class="navbar">
				<ul class="nav nav-pills dropup">
					<li>
						<button id="additionalPermissionsButton" style="display:none">Permissions</button>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Analysis</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#"><i class="filterColor"></i>Friends</a></li>
							<li><a href="#"><i class="filterColor"></i>Mutual friends</a></li>
							<li><a href="#"><i class="filterColor"></i>Social connectors</a></li>
						</ul>
					</li>
				</ul>
				<div id="spacer"></div>
				<ul class="nav nav-pills dropup">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Hometown</a>
						<ul id="hometownFilterList" class="dropdown-menu" role="menu">
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Current City</a>
						<ul id="locationFilterList" class="dropdown-menu" role="menu">
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Sex</a>
						<ul id="genderFilterList" class="dropdown-menu" role="menu">
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Political views</a>
						<ul id="politicalFilterList" class="dropdown-menu" role="menu">
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Religious views</a>
						<ul id="religionFilterList" class="dropdown-menu" role="menu">
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Relationship status</a>
						<ul id="relationship_statusFilterList" class="dropdown-menu" role="menu">
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		var chartId = '{{chart.id}}';
	</script>
	<script type="text/javascript" src="/static/js/visualization.js"></script>

{% endblock %}
