{% extends "base.html" %}

{% block content %}

	<div id="fb-root"></div>
	
	<div id="nodePopover" class="popover fade top in" style="top: -58px; left: 57.5px; display: none;">
		<div class="arrow"></div>
		<h3 class="popover-title"></h3>
		<div class="popover-content"></div>
	</div>

	<div id="constellation"></div>
	<script type="text/javascript">

		var constellation;
		var prevSelectedNodeId;
		var initConstellation = function() {
			var config = {
						 id: 'constellation',
						 graphLoaderClass: SimpleGraphLoader,
						 graphLoader: {
										 url: '/chart/{{chart.id}}/data'
						 },
						 graphParserClass: CustomGraphParser,
						 graphViewClass: DirectGraphView,
						 layoutClass: CustomLayout
			};
			var styles = [
						 ['node', {
										 rendererClass: CustomNodeRenderer
						 }],
						 ['edge', {
										 rendererClass: DefaultEdgeRenderer
						 }]
			];

			constellation = new Constellation(config, styles);
			$(constellation)
				.bind('log', function(event, severity, message) {
					var args = Array.prototype.slice.call(arguments, 2);
					switch (severity) {
						case 'debug':
							//window.console.debug.apply(window.console, args);
							break;
						case 'warn':
							window.console.warn.apply(window.console, args);
							break;
						case 'error':
							window.console.error.apply(window.console, args);
							break;
					}
				})
				.bind('nodeclick', function(event, nodeId) {
					constellation.setSelectedNodeId(nodeId);
					var n = constellation.getNode(nodeId);

					$('#nodePopover .popover-title').text(n.name);
					$('#nodePopover .popover-content').html(
						'<img src="' + n.pic + '" /><p>' + n.name + '</p>');
					$('#nodePopover').show();
				})
				.bind('nodeselect', function(event, nodeId) {
					var n;
					if (prevSelectedNodeId) {
						n = constellation.getNode(prevSelectedNodeId);
						if (n) {
							n.data.selected = false;
							n.draw();
						}
					}

					n = constellation.getNode(nodeId);
					if (n) {
						n.data.selected = true;
						n.draw();
					}

					prevSelectedNodeId = nodeId;
				})
				.bind('click', function(event) {
					constellation.setSelectedNodeId(null);
				});

			constellation.init();
		}

	</script>

{% endblock %}
