{% extends "base.html" %}

{% block content %}

	<div id="fb-root"></div>
	
	<div id="nodePopover" class="popover fade top in" style="display:none;position:absolute;">
		<div class="arrow"></div>
		<div class="popover-content"></div>
	</div>

	<div id="constellation"></div>
	<script type="text/javascript">

		var constellation;
		var prevSelectedNodeId;
		var initConstellation = function() {
		var config = {
			id: 'constellation',
			graphLoaderClass: SimpleGraphLoader,
			graphLoader: {
				url: '/chart/{{chart.id}}/data'
			},
			graphParserClass: CustomGraphParser,
			graphViewClass: DirectGraphView,
			layoutClass: CustomLayout
		};
		var styles = [
			['node', {
				rendererClass: CustomNodeRenderer
			}],
			['edge', {
				rendererClass: CustomEdgeRenderer
			}]
		];

			constellation = new Constellation(config, styles);
			$(constellation)
				.bind('log', function(event, severity, message) {
					var args = Array.prototype.slice.call(arguments, 2);
					switch (severity) {
						case 'debug':
							//window.console.debug.apply(window.console, args);
							break;
						case 'warn':
							window.console.warn.apply(window.console, args);
							break;
						case 'error':
							window.console.error.apply(window.console, args);
							break;
					}
				})
				.bind('nodeclick', function(event, nodeId) {
					var node = constellation.getNode(nodeId);

					if (prevSelectedNodeId == nodeId) {
						if ($('#nodePopover').css('display') == 'block') {
							$('#nodePopover').hide();
						}
						else {
							$('#nodePopover').show();
						}
					}
					else {
						$('#nodePopover .popover-content').html(
							'<div style="float:left;height:50px;width:50px"><img src="' + node.data.pic_square + '" width="50" height="50" /></div>'
							+ '<div style="margin-left: 60px;min-height: 50px;"><p style="font-weight:bold"><a href="' + node.data.link + '" target="_blank" style="color:#333">' + node.data.name + '</a></p><p style="margin-left:0.4em"><a href="javascript:exploreNode(\'' + node.id + '\');">Explore &raquo;</a></div>');
						$('#nodePopover').show();

						positionNodePopover(node);

						selectNode(nodeId);
					}
				})
				.bind('nodeselect', function(event, nodeId) {
					prevSelectedNodeId = nodeId;
				})
				.bind('click', function(event) {
					selectNode(null);
					$('#nodePopover').hide();
				})
				.bind('viewportchange', function(evt) {
					var node = constellation.getNode(constellation.getSelectedNodeId());
					if (node) {
						positionNodePopover(node);
					}
				});

			constellation.init();
		}

		function selectNode(nodeId) {
			var prevNode = constellation.getNode(prevSelectedNodeId);
			if (prevNode) {
				prevNode.setState('default');
				$.each(prevNode.edges, function(i, e) {
					e.setState('default');
					e.getOtherNode(prevSelectedNodeId).setState('default');
				});
			}

			var node = constellation.getNode(nodeId);
			if (node) {
				node.setState('selected');
				$.each(node.edges, function(i, e) {
					e.setState('emphasized');
					constellation.arrangeEdgeFront(e);

					var other = e.getOtherNode(nodeId);
					other.setState('emphasized');
					constellation.arrangeNodeFront(other);
				});
			}

			constellation.setSelectedNodeId(nodeId);

			$.each(constellation.getNodes(), function(i, n) {
				n.draw();
			});

			$.each(constellation.getEdges(), function(i, e) {
				e.draw();
			});
		}

		function positionNodePopover(node) {
			var offset = $(node.renderer.group).offset();
			offset.top -= $('#nodePopover').height() + 17;
			offset.left -= $('#nodePopover').width() / 2 - 3;
			$('#nodePopover').offset(offset);
		}

		function exploreNode(nodeId) {
			console.log("Exploring node: " + nodeId);
		}

	</script>

{% endblock %}
